# AWS_CREDENTIALS
aws_credentials = {
    "aws_region" = "ap-northeast-2",
    "aws_access_key" = "XXXXXXXXXXXXXXX",  
    "aws_secret_key" = "XXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
}

# VPC_REGIONS
aws_azs = ["a","b"]
vpc_cidr = "10.1.0.0/16"
cidrs_map = {
    "public" : ["10.1.1.0/26","10.1.1.64/26"],
    "private" : ["10.1.1.128/27", "10.1.1.160/27"],
    "db" : ["10.1.1.192/27", "10.1.1.224/27"]
}

# AWS_EC2
aws_ec2_ami_map = {
    "openVPN" = "ami-XXXXXXXXXXXXX",
    "was" = "ami-XXXXXXXXXXXXX"
}